services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chat-app
    env_file:
      - .env
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: 8081

      # Mongo (env-driven)
      MONGO_HOST: ${MONGO_HOST}
      MONGO_PORT: ${MONGO_PORT}
      MONGO_DB: ${MONGO_DB}
      MONGO_USER: ${MONGO_USER}
      MONGO_PASS: ${MONGO_PASS}
      DATABASE_URL: ${DATABASE_URL}   # optional (Atlas / full URI)

      # Redis
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

    ports:
      - "8081:8081"
    restart: unless-stopped
    networks:
      - app-network
